.main {
  background-image: url(../Assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 60px 20px 200px 20px;
  margin-bottom: 35px;
  color: rgb(106, 221, 210);
  display: flex;
  gap: 70px;
  flex-direction: column;
  align-items: end;
  /* margin-top: 35px; */
}
/* .poto {
  max-width: 100%;
  margin-top: 35px;
} */

.main h1 {
  font-family: "BPG Nino Elite Ultra Caps", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 80px;
  color: rgb(184, 225, 217);
  max-width: 350px;
}
.main p {
  font-family: "Kode Mono";
  font-weight: 700;
  font-size: 25px;
  text-align: end;
  max-width: 400px;
  justify-content: end;
  margin-right: 15px;
  padding-top: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInTitle {
  animation: fadeIn 2s ease-in-out forwards; /* 2 seconds delay for the title */
}

.fadeInParagraph {
  animation: fadeIn 5s ease-in-out forwards; /* 5 seconds delay for the paragraph */
}
.fadeInParagraph span {
  color: aquamarine;
  position: absolute;
  right: 0;
  top: 100%;
  animation: anim 10s ease-in-out forwards; /* 2 seconds delay for the <span> element */
}
@media screen and (min-width: 1000px) {
  .main {
    margin-top: 65px;
  }
  .main h1 {
    font-family: "BPG Nino Elite Ultra Caps", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 80px;
    color: rgb(184, 225, 217);
    max-width: 500px;
  }
  .main p {
    font-family: "Kode Mono";
    font-weight: 700;
    font-size: 35px;
    text-align: end;
    max-width: 700px;
    justify-content: end;
    margin-right: 60px;
  }
  .main {
    background-position: inherit;
  }
}
