.main {
  background-image: url(../Assets/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 20px 200px 20px;
  margin-bottom: 35px;
  color: rgb(106, 221, 210);
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.poto {
  max-width: 100%;
  margin-top: 35px;
}
.main h1 {
  font-style: inherit;
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(228, 118, 162);

  max-width: 500px;
}
.main p {
  font-family: "Kode Mono";
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  max-width: 700px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInTitle {
  animation: fadeIn 2s ease-in-out forwards; /* 2 seconds delay for the title */
}

.fadeInParagraph {
  animation: fadeIn 5s ease-in-out forwards; /* 5 seconds delay for the paragraph */
}
.fadeInParagraph span {
  color: aquamarine;
  position: absolute;
  right: 0;
  top: 100%;
  animation: anim 10s ease-in-out forwards; /* 2 seconds delay for the <span> element */
}
