header {
  padding: 11px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle elevation effect */
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0px 20px;
}

.logo {
  width: 200px;
  cursor: pointer;
  position: absolute;
  top: -14px;
}

.menuBar {
  display: inline-block;
  cursor: pointer;
  opacity: 1;
}

a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
}

.none {
  height: 16px;
  width: 16px;
  display: none;
}

header nav {
  min-height: 100%;
  background: white;
  position: absolute;
  left: -7%;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav ul {
  align-items: center;
}

nav ul li {
  font-family: "BPG Nino Elite Ultra Caps", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000000;
}
header nav button {
  color: #dfdfdf;
  background: #0b0124;
  /* min-width: 100%; */
  min-height: 48px;
  margin-right: 32px;
}
.opened button {
  max-width: 100%;
  margin-left: 70px;
}

.invisible {
  opacity: 0;
  transition: all 2s;
}

.opened {
  opacity: 1;
  transition: all 2s;
}

.opened ul {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 998px) {
  .invisible {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
    transform: translateY(22%);
    transition: all 0s;
    padding: 16px;
    background-color: transparent;
  }

  header hr {
    display: none;
  }

  .invisible ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 12px;
  }

  .invisible ul li {
    font-family: DM + Sans;
    /* font-weight: 800; */
    font-size: 14px;
    line-height: 16px;
    color: #230368;
  }
  .invisible ul li:hover {
    color: #3f0ab3;
  }
  .invisible button {
    color: #dfdfdf;
    width: 158px;
    margin-left: 37px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  .menuBar {
    opacity: 0;
  }
}

@media screen and (min-width: 1440px) {
  .invisible ul {
    margin-right: 160px;
    margin-left: 160px;
    gap: 50px;
  }
  .invisible ul li {
    font-size: 16px;
  }
}
